<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 장비창 세팅하기 (최고 점수 및 환산기능 적용하기) -->
  </body>
</html>
